<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Menu</h1>
    <p>Último acesso: <%= ultimoAcesso %></p>
    <ul>
        <li><a href="/interessados/criar">Cadastro de Interessados</a></li>
        <li><a href="/pets/criar">Cadastro de Pets</a></li>
        <li><a href="/adocao/criar">Adotar um Pet</a></li>
    </ul>
    <a href="/logout">Logout</a>
    <script src="/js/scripts.js"></script>
</body>
</html>
